nav{
    width: 100%;
    height: 100%;
    
}

.brandlogo{
     text-align: center;
}

body{
    background-color: black:
}

.container{
    max-width : 1200px;
    margin: auto;
    background: #f2f2f2;
    overflow: auto;
}

.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 390px;
}

img{
    width: 100%;
    height: 450px;
}

.desc{
    padding: 15px;
    text-align: center;
}